.contact {
    position: relative;
    display: block;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;        
    text-align: center;
    width: 100vw;
} 
.custom-line-3 {
  position: relative;
  height: 5px;         
  width: 85vw;          
  background: var(--main-color); 
  margin-bottom: 5vh ;    
  border-radius: 2px;   
  align-content: center;        
  box-shadow: 0px 0px 20px #b100a2,
                    0px 0px 20px #b100a2,
                    0px 0px 40px #b100a2,
                    0px 0px 80px #b100a2;
}
.contact-logo{  
  display: flex;
  align-items: center;        
  justify-content: center;
  gap: 1vw;  
}
.contact-box{
  position: relative;
  display: flex;
  align-items: center;        
  justify-content: center; 
  flex-wrap: wrap;
}
.studio-con{
  position: relative;
  font-size: clamp( 1.5rem , 1vw ,  2rem);
}
.custom-line-2 {
  position: relative;
  height: 98px;        
  width: 5px;          
  background: var(--main-color); 
  border-radius: 2px;  
  box-shadow: 0px 0px 20px #b100a2,
              0px 0px 20px #b100a2,
              0px 0px 40px #b100a2,
              0px 0px 80px #b100a2;
}
.contact-icon {
  font-size: 20px; 
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
} 
h4 a {
        position: relative;
        color: #fdfdfd;
        z-index: 100;
}
.social-media{
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center; 
    justify-content: center;  
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: clamp( 3rem , 7vw ,  4rem);
  height: clamp( 3rem , 7vw ,  4rem);
  background: transparent;
  border: 0.2rem solid var(--white-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: clamp( 1rem , 4vw ,  2rem);
  color: var(--main-color);
  margin: clamp( 1.5rem , 8vw ,  5rem) clamp( .5rem , 1vw ,  1rem);
  transition: 0.5s ease;
}
.social-media a i {
  transition: color 0.3s ease;
}  
.social-media a:hover {
  background: var(--main-color);
}
.social-media a:hover i {
  color: var(--white-color);
}
.contact-box1{
  position: relative;
  font-size: clamp( .5rem , 3vw ,  1.5rem);
  line-height: clamp( 1.5rem , 5vw ,  2.5rem);
  margin: 8vw;
}
.contact-box1 p{
  word-spacing: 2px;
}
.contact-box1 p a{
  color: var(--main-color);
  font-weight: bold;
}
.contact-box2{
    position: relative;
    font-size: clamp( .5rem , 3vw ,  1.5rem);
    line-height: clamp( 1.5rem , 5vw ,  2.5rem);
    word-spacing: 4px;
}
.contact-box2 p{
    letter-spacing: 2px;
}
.contact-box3{
position: relative;
font-size: clamp( .5rem , 3vw ,  1.5rem);
line-height: clamp( 1.5rem , 5vw ,  2.5rem);
word-spacing: 4px;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 7% 1rem;
  background: var(--main-color);
  height: 80%;
}
.p_term{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.p_term_s{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer-text p,
.privacy_policy a,
.terms_of_service a{
    font-size: clamp( .8rem , 1vw ,  2rem);
    color: var(--white-color);
    margin: 15px;
}
.footer-iconTop a{
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: .8rem;
  background: var(--white-color);
  border-radius: .8rem;
  border: .2rem solid var(--main-color);
  outline: .2rem solid transparent;
  transition: .5s ease;
}
.footer-iconTop a:hover{
    outline-color: var(--white-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: #333;
}

